@use 'styles/_constants.scss' as constants;

.root {
  display: flex;
  padding: 0;
  margin: 0;
  padding-bottom: 1rem;
  list-style: none;
  background-color: constants.$tertiary;
}

@media (max-width: constants.$tablet-breakpoint) {
  .root {
    display: block;
  }
}
