@use 'styles/_constants.scss' as constants;

.h3 {
  font-size: constants.$font-l;
  font-weight: constants.$font-bold;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.h4 {
  font-size: constants.$font-m;
  font-weight: constants.$font-bold;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.h5 {
  font-size: constants.$font-sm;
  font-weight: constants.$font-bold;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}
