@use 'styles/_constants.scss' as constants;

.title {
  margin: 2rem 0 0.5rem;
}
.text {
  margin-bottom: 2rem;
  white-space: pre-line;
}

@media (max-width: constants.$tablet-breakpoint) {
  .title {
    text-align: center;
  }
  .text {
    text-align: center;
  }
}
