@use 'styles/_constants.scss' as constants;

.root {
  min-height: 37.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.content {
  width: 50%;
  margin-left: 10%;
  padding-right: 1.5rem;
  box-sizing: border-box;
  color: constants.$white;
}
.backgroundWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.eyebrow {
  color: constants.$primary;
  font-weight: constants.$font-bold;
}
.title {
  margin: 1.5rem 0;
  max-width: 37.5rem;
}

@media (max-width: constants.$tablet-breakpoint) {
  .content {
    width: 100%;
    margin-left: 1.5rem;
  }
}
