@use 'styles/_constants.scss' as constants;

.root {
  background-color: constants.$white;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 1px 2px 7px 0px rgba(63, 63, 63, 0.2);
  transition: top ease-in-out 0.5s;
}
.hidden {
  top: -100%;
}
.container {
  max-width: constants.$containerWidth;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 4rem;
  padding: 0 1.5rem;
}
.link {
  color: constants.$secondary;
  text-decoration: none;
  padding: 1rem;
  padding-right: 0;
  transition: color ease-in-out 0.3s;
  font-size: constants.$font-s;
  &:hover {
    color: constants.$primary;
  }
}
