// Assets path
$assetPath: 'media/imgs';

// Colors
$white: #ffffff;
$black: #000000;
$primary: #00769e;
$secondary: #4b4949;
$tertiary: #f7f7f7;
$quaternary: #c4c4c4;
$quinary: #00b1ed;

//Fonts
$font-xs: 0.75rem;
$font-s: 0.875rem;
$font-sm: 1rem;
$font-m: 1.25rem;
$font-l: 1.75rem;
$font-light: 100;
$font-regular: 400;
$font-bold: 700;

// Breakpoints
$tablet-breakpoint: 48rem;

// Container
$containerWidth: 71.25rem;
$skinnyContainer: 56.25rem;
