@use './_constants.scss' as constants;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: constants.$secondary;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
*:focus {
  outline: 0.125rem solid constants.$quinary;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

// Error Pages

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
